body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#logo {
  width: 200px;
}
.logoContainer {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
}
#message {
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
  height: 20px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
